<article class="beerimg">

    <img src="{{image_url}}" alt="{{abv}} {{abv}}">
    <a href="/beers/{{id}}">
        <h2>{{name}}</h2>
    </a>
    <p class="tagline">{{tagline}}</p>
    <p>{{description}}</p>

</article> 